---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';


const posts = await getCollection('blog')
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Anthony's Notebook</h1>
			<p>
				The online notebook of <a href="https://anthonyzhou.com">Anthony Zhou</a>.
			</p>

			<p>My main interests lie in economics, psychology, and programming. </p>

			<h2>Psychology and Mental Health</h2>
			<ul>
				{["cultural-intelligence", "mood-and-productivity-one", "2021-1-29-the-third-bowl"]
				.map((cSlug) => posts.find(({slug}) => slug === cSlug)!)
				.map(({slug, data: { title }}) => (
				<li><a href={`/blog/${slug}`}>{title}</a></li>

				))}
			</ul>

			<h2>Software systems</h2>
			<ul>
				{["2021-3-24-service-oriented-software", "2022-07-16-consensus"]
				.map((cSlug) => posts.find(({slug}) => slug === cSlug)!)
				.map(({slug, data: { title }}) => (
				<li><a href={`/blog/${slug}`}>{title}</a></li>
				))}
			</ul>

			<h2>Miscellaneous</h2>
			<ul>
				{["2021-12-12-thoughts-on-futarchy", "2022-01-08-abstraction", "2022-01-20-airports", "2022-11-16-on-logical-consistency"]
				.map((cSlug) => posts.find(({slug}) => slug === cSlug)!)
				.map(({slug, data: { title }}) => (
				<li><a href={`/blog/${slug}`}>{title}</a></li>

				))}
			</ul>
		</main>
		<Footer />
	</body>
</html>
